body{
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;

}

.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6ff;
  opacity : 0.5;
  z-index: 2;
  cursor: pointer;
}

.overlay > p {
  margin-top:40vh;
  text-align: center;
}

.leaderboard-overlay {  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6f6ff;
  opacity : 0.5;
  overflow-x: hidden;
  transition: 0.5s;
}

.leaderboard-overlay > a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.leaderboard-overlay a:hover, .leaderboard-overlay a:focus {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .leaderboard-overlay a {font-size: 20px}
}

.btn {
  padding: 8px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.login-form {
  margin-top:10vh;
  margin-left:10vw;
  margin-right:10vw;

  height:80vh;
  width:80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

  h1 {
    margin: 0 0 24px 0;
  }

  .btn {
    width: 100%;
    margin: 18px 0 9px 0;
  }
}





.header{
  width:100vw;
  height: 3vh;
  background-color: white;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between  
}

#timer-parent{
  padding-top: 1vh;
  padding-left: 1vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width:5vh !important;
}

#timer{
  height:1vh;
  width:3vh !important;
  color: #005582;
  display: inline-block;
}

#logo{
  height: 3vh;
}

#flex-container {
  display:flex;
  flex-direction: column;
  height:85vh;
  width:100vw;
}

#flex-container > .drawing-board{
  display:flex;
  flex-direction: row;
  height:50vh;
  width:100vw;
}


#flex-container > .drawing-board > .whiteboard {
  border: 5px solid #cbe6ef;
  background-color: white;  
  height:50vh;
  width:90vw;
}

#flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:50vh;
  width:10vw;
}

#flex-container > .chatbox{
  background-color: #cbe6ef;
  height:35vh;
  width:100vw;
}

.color {
  height:5vw;
  width:5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.footer{
  background-color: #cbe6ef;
  width:100vw;
  height: 12vh;
}

.row_chars{
  width:100vw;
  height: 12vh;
}



.char{ 
    height: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.char >.img {
    width: 100%; 
    height: 100%;
}

.chat {
    height: 33vh;
    border-radius: 25px;
    background-color: #cbe6ef;
}

.info {
    height: 2vh;
    background-color: #cbe6ef;
}


/*for larger screens(large screens and laptops)*/
@media only screen and (min-device-width: 500px) {
  .header {
  height: 8vh;
  }

  #timer-parent{
    padding-top: 3vh;
    padding-left: 1vh;
    width:10vh !important;
  }

  #timer{
    height:3vh !important;
    width:8vh !important;
  }

  #logo{
    height: 8vh;
  }

  #flex-container {
  flex-direction: row;
  height:77vh;
  width:100vw;
  }

  #flex-container > .drawing-board{
  flex-direction: row;
  height:77vh;
  width:70vw;
  }

  #flex-container > .drawing-board > .whiteboard {
  height:77vh;
  width:65vw;
  }
  #flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:77vh;
  width:5vw;
  }

  #flex-container > .chatbox{
  height:77vh;
  width:30vw;
  }   
  .chat {
  height: 72vh;
  border-radius: 25px;
  background-color: #cbe6ef;
  }
  .color {
    height:3vw;
    width:3vw;
  }
  .footer {
    height: 15vh;
  }
  .row_char{  
      height: 15vh;
  }
  .info {
      height: 5vh;
      background-color: #cbe6ef;
  }

}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {

  .timer-parent{
    padding-top: 0.5vh;
    padding-left: 0.5vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  #timer{
    height:1vh;
    width:1vh;
    background-color:white;
    display: inline-block;
  }

  .char {
    flex: 25%;
  }

}


.chat.page {
    /*  height : 100%;
  width : 100%;*/
    display: block;
}

/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    /*  padding-bottom: 60px;*/
}

.messages {
    height: 100%;
    width: 99%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}


/* Input */

.inputMessage {
    border-radius: 25px;
    border: 5px solid white;
    bottom: 0;
    height: 100%;
    left: 0;
    outline: none;
    padding-left: 10px;
    /*  position: absolute;*/
    right: 0;
    width: 100%;
}