body{
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;

}

.header{
  width:100vw;
  height: 3vh;
  background-color: white;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between  
}

#timer-parent{
  padding-top: 1vh;
  padding-left: 1vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width:5vh !important;
}

#timer{
  height:1vh;
  width:3vh !important;
  color: #005582 !important;
  display: inline-block;
}

#logo{
  height: 3vh;
}

#flex-container {
  display:flex;
  flex-direction: column;
  height:85vh;
  width:100vw;
}

#flex-container > .drawing-board{
  display:flex;
  flex-direction: row;
  height:50vh;
  width:100vw;
}


#flex-container > .drawing-board > .whiteboard {
  border: 5px solid #cbe6ef;
  background-color: white;  
  height:50vh;
  width:90vw;
}

#flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:50vh;
  width:10vw;
}

#flex-container > .chatbox{
  background-color: #cbe6ef;
  height:35vh;
  width:100vw;
}

.color {
  height:5vw;
  width:5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.footer{
  background-color: #cbe6ef;
  width:100vw;
  height: 12vh;
}

.row_chars{
  width:100vw;
  height: 12vh;
}



.char{ 
    height: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.char >.img {
    width: 100%; 
    height: 100%;
}

.chat {
    height: 33vh;
    border-radius: 25px;
    background-color: #cbe6ef;
}

.info {
    height: 2vh;
    background-color: #cbe6ef;
}


/*for larger screens(large screens and laptops)*/
@media only screen and (min-device-width: 500px) {
  .header {
  height: 8vh;
  }

  #timer-parent{
    padding-top: 3vh;
    padding-left: 1vh;
    width:10vh !important;
  }

  #timer{
    height:3vh !important;
    width:8vh !important;
  }

  #logo{
    height: 8vh;
  }

  #flex-container {
  flex-direction: row;
  height:77vh;
  width:100vw;
  }

  #flex-container > .drawing-board{
  flex-direction: row;
  height:77vh;
  width:70vw;
  }

  #flex-container > .drawing-board > .whiteboard {
  height:77vh;
  width:65vw;
  }
  #flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:77vh;
  width:5vw;
  }

  #flex-container > .chatbox{
  height:77vh;
  width:30vw;
  }   
  .chat {
  height: 72vh;
  border-radius: 25px;
  background-color: #cbe6ef;
  }
  .color {
    height:3vw;
    width:3vw;
  }
  .footer {
    height: 15vh;
  }
  .row_char{  
      height: 15vh;
  }
  .info {
      height: 5vh;
      background-color: #cbe6ef;
  }

}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {

  .timer-parent{
    padding-top: 0.5vh;
    padding-left: 0.5vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  #timer{
    height:1vh;
    width:1vh;
    background-color:white;
    display: inline-block;
  }

  .char {
    flex: 25%;
  }

}


.chat.page {
    /*  height : 100%;
  width : 100%;*/
    display: block;
}

/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    /*  padding-bottom: 60px;*/
}

.messages {
    height: 100%;
    width: 99%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}


/* Input */

.inputMessage {
    border-radius: 25px;
    border: 5px solid white;
    bottom: 0;
    height: 100%;
    left: 0;
    outline: none;
    padding-left: 10px;
    /*  position: absolute;*/
    right: 0;
    width: 100%;
}