body{
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: white;
}
.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6ff;
  z-index: 2;
  cursor: pointer;
}

#new-game{
  margin-top: 35vh;
  margin-bottom: 2vh;
}
#existing-game{
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.overlay-text{
  text-align: center;
}
.btn.btn-success{
  background-color: #005582;
  border: 2px solid #005582; 
}
.header{
  padding-left: 20px;
  width:100vw;
  height: 10vh;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between  
}

.header-contents{ 
  background-size: contain;
  background-repeat: no-repeat;                
  height: 100%;
  width:auto;
}

.header-text{
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (min-device-width: 500px) {
  .header {
  height: 15vh;
  }
  #login_img{
   width: 40vh; 
   height: 40vh; 
  }
  #text{
    font-size: 20px;
  }

}