body{
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.header{
  padding-left: 20px;
  width:100vw;
  height: 10vh;
  background-color: white;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between;  
}
.header-contents{ 
  background-size: contain;
  background-repeat: no-repeat;                
}

.header-text{
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
}

#logo{
  height: 100%;
  width:auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.final{
text-align: center;
  width: 100vw ;
}
.submit.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

/*for larger screens(large screens and laptops)*/
@media only screen and (min-device-width: 500px) {
  .header {
  height: 15vh;
  }

}


/* Container for flexboxes */

