body{
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;

}

.header{
  padding-left: 20px;
  width:100vw;
  height: 10vh;
  background-color: white;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between  
}
.header-contents{ 
  background-size: contain;
  background-repeat: no-repeat;                
}

.header-text{
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
}

#char-you {
  display:flex;
  flex-direction: column;
  text-align: center;
}

#char-you > img{
  height: 8vh !important;
  width: 8vh !important;
}

#logo{
  height: 100%;
  width:auto;
}


#flex-container {
  display:flex;
  flex-direction: column;
  height:80vh;
  width:100vw;
}

#flex-container > .drawing-board{
  display:flex;
  flex-direction: row;
  height:55vh;
  width:100vw;
}


#flex-container > .drawing-board > .whiteboard {
  border: 5px solid #cbe6ef;
  background-color: white;  
  height:55vh;
  width:90vw;
}

#flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:55vh;
  width:10vw;
}

#flex-container > .chatbox{
  background-color: #cbe6ef;
  height:25vh;
  width:100vw;
}

.color {
  height:6vw;
  width:6vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.footer{
  background-color: #cbe6ef;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100vw;
  height: 10vh;
}
.row_chars{
  width:100vw;
  height: 10vh;
}



.char{ 
    height: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.char >.img {
    width: 100%; 
    height: 100%;
}

.chat {
    height: 20vh;
    border-radius: 25px;
    background-color: #cbe6ef;
}


#row_ready {
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.info {
    height: 4vh;
    background-color: #cbe6ef;
}


/*for larger screens(large screens and laptops)*/
@media only screen and (min-device-width: 500px) {
  .header {
  height: 15vh;
  }
  #char-you > img{
  height: 12vh !important;
  width: 12vh !important;
  }
  #flex-container {
  height:70vh;
  }

  #flex-container {
  flex-direction: row;
  height:70vh;
  width:100vw;
  }

  #flex-container > .drawing-board{
  flex-direction: row;
  height:70vh;
  width:70vw;
  }

  #flex-container > .drawing-board > .whiteboard {
  height:70vh;
  width:65vw;
  }
  #flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:70vh;
  width:5vw;
  }

  #flex-container > .chatbox{
  height:70vh;
  width:30vw;
  }   
  .chat {
  height: 65vh;
  border-radius: 25px;
  background-color: #cbe6ef;
  }
  .color {
    height:3vw;
    width:2vw;
  }
  .footer {
  height: 15vh;
  }
  .row_char{  
      height: 15vh;
  }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .char {
    flex: 25%;
  }
}


.chat.page {
    /*  height : 100%;
  width : 100%;*/
    display: block;
}

/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    /*  padding-bottom: 60px;*/
}

.messages {
    height: 100%;
    width: 99%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}


/* Input */

.inputMessage {
    border-radius: 25px;
    border: 5px solid white;
    bottom: 0;
    height: 100%;
    left: 0;
    outline: none;
    padding-left: 10px;
    /*  position: absolute;*/
    right: 0;
    width: 100%;
}