body{
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.header{
  padding-left: 20px;
  width:100vw;
  height: 10vh;
  background-color: white;
  text-align: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between  
}
.header-contents{ 
  background-size: contain;
  background-repeat: no-repeat;                
}


#char-you {
  display:flex;
  flex-direction: column;
  text-align: center;
}

#char-you > img{
  height: 8vh !important;
  width: 8vh !important;
}

#logo{
  height: 100%;
  width:auto;
}

#flex-container {
  display:flex;
  flex-direction: column;
  height:80vh;
  width:100vw;
}

#flex-container > .drawing-board{
  display:flex;
  flex-direction: row;
  height:55vh;
  width:100vw;
}


#flex-container > .drawing-board > .whiteboard {
  border: 5px solid #cbe6ef;
  background-color: white;  
  height:55vh;
  width:95vw;
}

#flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:55vh;
  width:5vw;
}

#flex-container > .chatbox{
  background-color: #cbe6ef;
  height:25vh;
  width:100vw;
}

.color {
  height:5vw;
  width:5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.color.pen.clear{background-image: url(./images/eraser_small.jpg);}


.footer{
  background-color: #cbe6ef;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100vw;
  height: 10vh;

}

.char.a {background-image: url(./images/characters/1.png);}
.char.b {background-image: url(./images/characters/2.png);}
.char.c {background-image: url(./images/characters/3.png);}
.char.d {background-image: url(./images/characters/4.png);}
.char.e {background-image: url(./images/characters/5.png);}
.char.f {background-image: url(./images/characters/6.png);}
.char.g {background-image: url(./images/characters/7.png);}
.char.h {background-image: url(./images/characters/8.png);}

.footer > .char{ 
    width: 5vh; 
    height: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

/*for larger screens(large screens and laptops)*/
@media only screen and (min-device-width: 500px) {
  .header {
  height: 15vh;
  }
  #char-you > img{
  height: 12vh !important;
  width: 12vh !important;
  }
  #flex-container {
  height:70vh;
  }

  #flex-container {
  flex-direction: row;
  height:70vh;
  width:100vw;
  }

  #flex-container > .drawing-board{
  flex-direction: row;
  height:70vh;
  width:70vw;
  }

  #flex-container > .drawing-board > .whiteboard {
  height:70vh;
  width:68vw;
  }
  #flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:70vh;
  width:2vw;
  }

  #flex-container > .chatbox{
  height:70vh;
  width:30vw;
  }   
  .color {
    height:3vw;
    width:2vw;
  }
  .footer {
  height: 15vh;
  }
  .footer > .char{ 
      width: 10vh; 
      height: 10vh;
  }
}

