
* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.header{
  width:100vw;
  height: 10vh;
  background-color: white;
  text-align: right;
}

#logo{
  height: 100%;
  width:auto;
  background-size: contain;
  background-repeat: no-repeat;                
}

#flex-container {
  display:flex;
  flex-direction: column;
  height:80vh;
  width:100vw;
}

#flex-container > .drawing-board{
  display:flex;
  flex-direction: row;
  height:55vh;
  width:100vw;
}


#flex-container > .drawing-board > .whiteboard {
  border: 5px solid #cbe6ef;
  background-color: white;  
  height:55vh;
  width:95vw;
}

#flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:55vh;
  width:5vw;
}

#flex-container > .chatbox{
  background-color: #cbe6ef;
  height:25vh;
  width:100vw;
}

.color {
  height:5vw;
  width:5vw;
}

.color.a { background-color: #000000; }
.color.b { background-color: #808080; } 
.color.c { background-color: #C0C0C0; }
.color.d { background-color: #FF0000; }
.color.e { background-color: #800000; }
.color.f { background-color: #FFFF00; }
.color.g { background-color: #808000; }
.color.h { background-color: #00FF00; }
.color.i { background-color: #008000; }
.color.j { background-color: #00FFFF; }

.color.k { background-color: #008080; }
.color.l { background-color: #0000FF; }
.color.m { background-color: #000080; }
.color.n { background-color: #FF00FF; }
.color.o { background-color: #800080; }
.color.clear{
    background-image: url(./images/eraser_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}
.color.pencil{
    background-image: url(./images/pencil_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}


.footer{
  background-color: #cbe6ef;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100vw;
  height: 10vh;

}
.char.a {background-image: url(./images/characters/1.png);}
.char.b {background-image: url(./images/characters/2.png);}
.char.c {background-image: url(./images/characters/3.png);}
.char.d {background-image: url(./images/characters/4.png);}
.char.e {background-image: url(./images/characters/5.png);}
.char.f {background-image: url(./images/characters/6.png);}
.char.g {background-image: url(./images/characters/7.png);}
.char.h {background-image: url(./images/characters/8.png);}

.footer > .char{ 
    width: 5vh; 
    height: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

/*for larger screens(large screens and laptops)*/
@media only screen and (min-device-width: 500px) {
  .header {
  height: 15vh;
  }
  #flex-container {
  height:70vh;
  }

  #flex-container {
  flex-direction: row;
  height:70vh;
  width:100vw;
  }

  #flex-container > .drawing-board{
  flex-direction: row;
  height:70vh;
  width:70vw;
  }

  #flex-container > .drawing-board > .whiteboard {
  height:70vh;
  width:68vw;
  }
  #flex-container > .drawing-board > .colors {
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:70vh;
  width:2vw;
  }

  #flex-container > .chatbox{
  height:70vh;
  width:30vw;
  }   
  .color {
    height:3vw;
    width:2vw;
  }
  .footer {
  height: 15vh;
  }
  .footer > .char{ 
      width: 10vh; 
      height: 10vh;
  }
}

