<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pictionary with Friends</title>
    <link rel="stylesheet" type="text/css" href="/start_page_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</head>

<body scroll="no">
    <div class = "overlay">
        <form id="myForm1" class="overlay-text">
            <button type="submit" class="btn btn-success" id="new-game">Create new game</button>
        </form>
        <p class="overlay-text"> OR <p>
        <form id="myForm2" class="overlay-text">
            GAME ID : <input type="text" name="gameID" id="game-id"><br>
            <input type="button" value="Enter existing game" class="btn btn-success" id="existing-game">
        </form>
    </div>
    <div class="header">
        <img class="header-contents" id="logo"></img>
    </div>
    <div class="header-text">
        <p id="instruction" ></p>
    </div>

    <div class="row 1">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/home_scripts.js"></script>
</body>

</html>