<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pictionary with Friends</title>
    <link rel="stylesheet" type="text/css" href="/lobby_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>

<body scroll="no">
    <div class="header">
        <img class="header-contents" id="logo" src="/logo2_transparent.png"></img>
    </div>
    <div class="header-text">
        <p class="user-text" id="gameID">Share your GAME ID : </p>
    </div>
    <div class="row" id="row_chat">
        <div class="chatbox">
            <div class="chat">
            <li class="chat page">
                <div class="chatArea">
                    <ul class="messages"></ul>
                </div>
            </li>

            </div>
            <div class="info">
                <input class="inputMessage" placeholder="Type here..."/>
            </div>
        </div>
    </div>
    <div class="row" id="row_ready"></div>
    <div class="row" id="row_chars"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lobby_scripts.js"></script>
</body>

</html>